.scrollComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

.createPostContainer {
 display: flex;
 height: 10svh;
 width: 100%;
 padding-inline: 0.8rem;
 gap: 1.3rem;
 position: relative;
 align-items: center;
 background: rgb(255,246,246);
 border-radius: 20px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    max-width: 80%;
}
.uploadButton {
    position: absolute;
    right: 0;
    bottom: -45px;
    background: rgb(2, 93, 198);
    color: white;
    border-radius: 10px;
    padding-inline: 1.2rem;
    padding-block: 0.8rem;
    cursor: pointer;

}

.userProfile{
    border-radius: 100%;
    height: 60%;
    /* width: fit-content; */
    aspect-ratio: 1/1;
    object-fit: cover;

}

.createPostContainer > textarea {
    width: 100%;
}
.textAreaOfContent{
    width: 80%;
    height: 70%;
     border: 1px solid silver;
     font-family: Arial, Helvetica, sans-serif;
     padding-inline: 1.5rem;
     padding-block: 0.8rem;
     outline: none; 
     border-radius: 10px;   
}
.fab {
    background: rgb(0, 59,130);
    border-radius: 100%;
    display: flex;
    justify-content: center;
}
.fab > svg {
    width: fit-content;
    height: 32px;
    color: white;
}
.singleCard {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid rgb(179, 179, 179);
}

.singleCard_profileContainer {
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    padding: 1.2rem;
}
.singleCard_profileContainer>img {
    width: 12%;
    border-radius: 50%;
}
.singleCard_Image {
    width: 100%;
    padding-top: 0.6rem;
    height: fit-content;
    overflow: hidden;
}
.singleCard_Image>img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;

}

.optionsContainer {
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: space-between;
    padding-block: 0.6rem;
}
.singleOption_optionsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}
.singleOption_optionsContainer > svg {
    height: 100%;
    width: 10%;
    min-width: 1rem;
}
.commentsContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.allCommentsContainer {
    width: 40vw;
    height: 80vh;
    background: white;
    border-radius: 10px;
    position: relative;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;

   
}
.commentsList {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 10px;
}
.commentsList::-webkit-scrollbar {
    display: none;
}

.postCommentContainer {

    bottom: 1.2rem;
    display: flex;
    background: white;
    left: 1.2rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}
.postCommentContainer > input {
    flex: 0.9;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    outline: none;
    border: none;
    background-color:rgb(228, 228, 228);
    border-radius: 10px;
    
    
}
.postCommentContainer > input:focus {
    border: 1px solid silver;
}

.postCommentContainer_commentBtn {
    flex: 0.1;
    width: fit-content;
    padding: 1.1rem;
    background: orange;
    border-radius: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
    
    
}

@media  screen and (max-width: 600px) {
    .allCommentsContainer {
        width: 90svw;
    }
    
}